# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore IDE specific files
.idea/
.vscode/

# Ignore Docker-related files
.env

# Ignore log files and databases
*.log
*.sqlite
*.db

# Ignore OS-specific files
.DS_Store
Thumbs.db